* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 20px;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 8px;
  border-width: 0;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
}

#tray menu separator {
  min-height: 10px;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#idle_inhibitor,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#custom-weather,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  background: @main-bg;
  margin: 4px 0;
}

#custom-r_end,
#custom-sr_end,
#custom-rr_end {
  padding-right: 0
}

#custom-l_end,
#custom-sl_end,
#custom-rl_end {
  padding-left: 0;
}

window#waybar {
  background: @main-bg;
  transition-property: background;
  transition-duration: 0.5s;
  margin: 0;
  padding: 0;
}

#custom-weather {
  color: @main-fg;
  border-radius: 0;
}

#workspaces button {
  color: @main-color;
  border-radius: 0;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button:hover {
  background: transparent;
  color: @main-color;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  border-bottom: solid 2px @main-color;
  color: @main-color;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.empty {
  color: @second-color;
  border-bottom: solid 2px @second-color;

}

#backlight,
#tray,
#pulseaudio,
#language,
#clock,
#cpu,
#memory,
#custom-weather,
#idle_inhibitor {
  padding: 0 8px;
}

#tray {
  color: @main-fg;
}
#pulseaudio {
  color: @main-fg;
  min-width: 40px;
}

#language {
  background: transparent;
  color: @main-color;
  border-bottom: solid 2px @main-color;
  padding: 0;
  margin: 8px;
}

#clock {
  font-size: 14px;
}

#memory,
#custom-power,
#custom-cliphist,
#idle_inhibitor {
  padding: 0 4px;
}

#idle_inhibitor {
  padding-right: 8px; 
}