* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 20px;
}

@import "theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;

    /*border-radius: 8px;*/
    margin: 2px 0;
    padding: 0 2px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    background: @green;
    background: #ff0000;

    color: @wb-act-fg;
    color: red;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    background: @green;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    background: @green;
    color: @wb-act-color;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    background: @green;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    background: transparent;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    /*border-radius: 0px 20px 20px 0px;*/
    margin-right: 8px;
    padding-right: 0px;
}

#custom-l_end {
    /*border-radius: 20px 0px 0px 20px;*/
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    /*border-radius: 0px 7px 7px 0px;*/
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    /*border-radius: 7px 0px 0px 7px;*/
    margin-left: 8px;
    padding-left: 0px;
}

/* ------------------------- */

window#waybar {
    background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

@define-color bg #272a34;
@define-color fg #f9f9f9;
@define-color black #23252e;
@define-color green #2BE491;
@define-color gr #363749;

#custom-weather {
	background: @black;
	color: @fg;
	padding: 0 30px 0 15px;
	margin: 4px 0 4px 10px;
	border-radius: 6 0 0 6;
}
/*#custom-cmus {
	background: @black;
	color: @green;
	padding: 0;
	margin: 4px 0 4px 0;
	border-radius: 0;
}*/
/*#custom-foot {
	background: @black;
	color: @fg;
	padding: 0 5px 0 25px;
	margin: 4px 0 4px 0;
}*/
#custom-nemo {
	background: @black;
	color: @fg;
	padding: 0 5px 0 10px;
	margin: 4px 0 4px 0;
}


#workspaces {
	background-color: @black;
	background-color: transparent;
	margin: 4px 5px 4px 5px;
	/*border-radius: 6;*/
}
#workspaces button {
	background-color: @black;
	background-color: transparent;
	color: @fg;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}
#workspaces button:hover {
	background-color: @black;
	background-color: transparent;
	color: @fg;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px @fg;
	border-radius: 0;
}
#workspaces button.active {
	background-color: @black;
	background-color: transparent;
	color: @green;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px;
	border-radius: 0;
}
#workspaces button.empty {
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}


#tray {
	background: @black;
	background: transparent;
    color: @fg;
	padding: 0 15px 0 15px;
	margin: 4px 0 4px 0;
	/*border-radius: 6 0 0 6;*/
}
#pulseaudio{
	background: @black;
	background: transparent;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0;
}

#language {
	background: @black;
	background: transparent;
	color: @green;
	padding: 0;
	margin: 4px 0 4px 0;
	border-bottom: solid 2px @green;
	border-radius: 0;
}

#clock {
	background: @black;
	background: transparent;
	/*color: @fg;*/
	color: white;
	padding: 0 8px 0 8px;
	margin: 4px 0 4px 0;
	/*border-radius: 0 6 6 0;*/
	font-size: 14px;
}

